.d-flex .btn {
  margin-left: 6px;
  width: 80px;
  height: 50px;
}

#addWordInput {
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%;
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#searchWordInput {
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#addedWords li {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 22px; 
  color: black; 
  display: block; 
}

#addedWords li:hover {
  background-color: #eee;
}

#dictionaryTitle {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#addWordInput {
  background-color: lightgrey;
}

#searchWordInput {
  background-color: lightgrey;
}